@{
	Layout = null;
	<!-- Không dùng layout chung -->
}

<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Đăng Nhập</title>
	<link rel="stylesheet" href="~/css/login.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
	<div class="container">
		<div class="screen">
			<div class="screen__content">
				<form class="login" method="post" action="@Url.Action("Login", "Home")">
					<div class="login__field">
						<i class="login__icon fas fa-user"></i>
						<input type="text" class="login__input" placeholder="User name / Email" name="username" required>
					</div>

					<div class="login__field">
						<i class="login__icon fas fa-lock"></i>
						<input type="password" class="login__input" placeholder="Password" name="password" required>
					</div>

					<p> Don't have an account? <a href="@Url.Action("Register", "Home")">Click here</a></p>

					<button class="button login__submit" type="submit">
						<span class="button__text">Login</span>
						<i class="button__icon fas fa-chevron-right"></i>
					</button>
				</form>

				<div class="social-login">
					<h3>Contact Us</h3>
					<div class="social-icons">
						<a href="#" class="social-login__icon"><i class="fab fa-instagram"></i></a>
						<a href="#" class="social-login__icon"><i class="fab fa-facebook"></i></a>
						<a href="#" class="social-login__icon"><i class="fab fa-twitter"></i></a>

					</div>
				</div>
			</div>
			<div class="screen__background">
				<span class="screen__background__shape screen__background__shape4"></span>
				<span class="screen__background__shape screen__background__shape3"></span>
				<span class="screen__background__shape screen__background__shape2"></span>
				<span class="screen__background__shape screen__background__shape1"></span>
			</div>
		</div>
	</div>
</body>
</html>
